<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="dbConnection" value="Server=GRPC006473\SQLEXPRESS;database=PPC;User=sa;Password=W3lcome!123;"/>

  <targets>
    <target xsi:type="Database"
          name="Head_Table"
          connectionstring="${dbConnection}"
    >
      <commandtext>
        INSERT INTO [Head_Table] ([GLOBAL_UUID],[USE_CASE],[ORDER_STATUS],[TIMESTAMP])
        VALUES (@global_uuid,@use_case,@order_status,@tmstmp)
      </commandtext>
      <parameter name="@global_uuid" layout="${event-properties:item=GlobalUuid}" />
      <parameter name="@use_case" layout="${event-properties:item=UseCase}"/>
      <parameter name="@order_status" layout="${event-properties:item=OrderStatus}"/>
      <parameter name="@tmstmp" layout="${date}" dbType="DbType.Date"/>
    </target>

    <target xsi:type="Database"
            name="Details_Table"
            connectionstring="${dbConnection}"
    >
      <commandtext>
        INSERT INTO [Details_Table] ([GLOBAL_UUID],[USE_CASE],[REQUEST_UUID],[SERVICE],[END_SYSTEM],[STATE],[PAYLOAD],[TIMESTAMP],[LEVEL_TYPE],[EXCEPTION],[STACK_TRACE])
        VALUES (@global_uuid,@use_case,@request_uuid,@service,@end_system,@state,@payload,@tmstmp,@level_type,@exception,@stack_trace)
      </commandtext>
      <parameter name="@global_uuid" layout="${event-properties:item=GlobalUuid}" />
      <parameter name="@use_case" layout="${event-properties:item=UseCase}" />
      <parameter name="@request_uuid" layout="${event-properties:item=RequestUuid}" />
      <parameter name="@service" layout="${event-properties:item=Service}"/>
      <parameter name="@end_system" layout="${event-properties:item=EndSystem}"/>
      <parameter name="@state" layout="${event-properties:item=State}" />
      <parameter name="@payload" layout="${event-properties:item=Payload}"/>
      <parameter name="@tmstmp" layout="${date}" dbType="DbType.Date"/>
      <parameter name="@level_type" layout="${level}"/>
      <parameter name="@exception" layout="${exception:innerFormat=Message,StackTrace}"/>
      <parameter name="@stack_trace" layout="${exception:format=stackTrace}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Head_Table" />
    <logger name="*" minlevel="Trace" writeTo="Details_Table" />
  </rules>
</nlog>